@model PhotoSharingApp.model.Photo

@{
    ViewBag.Title = Model.Title;
}


        <h4>Photo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PhotoFile)
            </dt>
    
            <dd>
                @if (Model.PhotoFile != null)
                {
                    <img width="80" height="80" src="@Url.Action("GetImage", "Photo", new { id=Model.PhotoId })" />
                }
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ImageMimeType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ImageMimeType)
            </dd>
    
        </dl>
  @Html.Action("_CommentsForPhoto", "Comment", new { PhotoId = Model.PhotoId })
    <p>

    @Html.ActionLink("Back To List", "Index")
       @Html.ActionLink("Delete This Photo", "Delete", new { id = Model.PhotoId })
    
</p>
